<h1> My tasks </h1>

<% @tasks.each do |task| %>
<ul>
  <div class="container">
  <li>
    <input type="checkbox"  name="checkbox" value="<% task %>">
     <%= link_to task.title, task_path(task) %>
  </li>
</ul>
<% end %>
  </div>
<p><%= link_to "Add a new task", tasks_new_path %></p>

